Package: samglish-wifi
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Maintainer: Beidi Dina Samuel
Description: Script d’attaque WPA avec interface dialog pour Kali Linux.
Depends: bash, dialog, aircrack-ng, xterm
